asn1crypto==0.24.0
bcrypt==3.1.4
cffi==1.11.5
Click==7.0
cryptography==2.3.1
Flask==1.0.2
Flask-Cors==3.0.6
h5py==2.8.0
idna==2.7
itsdangerous==0.24
Jinja2==2.10
jwt==0.5.4
Keras==2.2.2
Keras-Applications==1.0.4
Keras-Preprocessing==1.0.2
MarkupSafe==1.0
numpy==1.15.2
psycopg2==2.7.5
pycparser==2.19
PyYAML==3.13
scipy==1.1.0
six==1.11.0
Theano==1.0.3
Werkzeug==0.14.1
